TAVILY_API_KEY=key
DATABASE_URL=url
JWT_SECRET=secret

# If you want to use this file, simply change its name to ".env", add your API keys and the following code block to the 'db.py', 'tools.py', and
# 'main.py' files:
# 
# from pathlib import Path
# from dotenv import load_dotenv
#
# load_dotenv(Path(__file__).parent.parent / ".env")
# NOTE: FOR 'main.py', SIMPLY PUT "load_dotenv()", MAKE SURE YOU IMPORT THE MODULES!
#
# If you wish to save them as environment variables, open '~/.bashrc' with your favorite editor and add the following lines:
#
# export TAVILY_API_KEY="your_tavily_api_key"
# export DATABASE_URL="your_db_url"
# export JWT_SECRET="your_jwt_secret"
# export LANGFUSE_SECRET_KEY="your_langfuse_secret_key"
# export LANGFUSE_PUBLIC_KEY="your_langfuse_public_key"
#
# Then, in a terminal, run 'source ~/.bashrc'
